.graph {
    background-color: #efefef;
    /* border: 2px solid black; */
    /* border-style: round; */
    border-radius: 4px;
    width: 1100px;
    height:700px;
    margin: auto;
    padding: 10px;


}
